@import url("https://fonts.googleapis.com/css?family=Rubik:400,300,600|Balsamiq+Sans:400|Montserrat:700");

.machinemaxxusa-1440 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 5500px;
  overflow: hidden;
  width: 1440px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group2 {
  height: 5127px;
  margin-left: -3px;
  margin-top: 36px;
  position: relative;
  width: 1443px;
}

.background {
  height: 1003px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 4124px;
  width: 1437px;
}

.mmusa-landing-page-v2 {
  height: 4802px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.footer {
  align-items: flex-start;
  display: flex;
  margin-left: -3px;
  min-width: 1444px;
}

.overlap-group {
  align-items: center;
  background-color: 
#435188;
  display: flex;
  gap: 40px;
  height: 216px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 54px 33px;
}

.machine-maxx-usa-logo-3 {
  align-self: flex-start;
  height: 107px;
  object-fit: cover;
  width: 300px;
}

.address {
  letter-spacing: 1.2px;
  line-height: normal;
  margin-bottom: 3px;
  min-height: 91px;
  text-align: right;
  width: 291px;
}

.overlap-group1 {
  height: 91px;
  margin-bottom: 3px;
  position: relative;
  width: 497px;
}

.vector {
  height: 24px;
  left: 0;
  position: absolute;
  top: 60px;
  width: 22px;
}

.site-map-privacy-pol {
  left: 0;
  letter-spacing: 1.2px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 497px;
}

.header-nav {
  height: 121px;
  width: 1440px;
}